<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1> Welcome to the Jungle </h1>
    <p>
      You have successfully signed up to the Jungle. Your username will be your registered email: <%= @user.email %>.<br>
    </p>
    <p> Thanks for joining us! </p>
  </body>
</html>