<tr>
<td> <%= details.description %> </td>
<td> Rating: <%= details.rating %> </td>
<td>
<% if current_user %>
<% if details.user_id == current_user.id %>
<%= link_to fa_icon('trash'), product_review_path(action: "destroy", product_id: @product.id, id: details.id), class: 'btn btn-sm btn-danger', method: "delete", data: { confirm: "Are you sure?" } %>
<% end %>
<% end %>
</td>

</tr>
